<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Jared Anthony Kronyak</title>
	<link rel="stylesheet" href="public/css/main_styles.css">
  </head>
  <header>
		<div id="nav-div">
			<a href="/">Home</a></li>
			<a href="/education">Education</a>
			<a href="/experience">Experience</a>
		</div>
    </header>
  <body>
	{{{body}}}
  </body>
</html>