$background: rgb(31, 43, 54);

$body-primary: rgb(53, 66, 78);
$body-secondary: rgb(44, 65, 85);

$font-primary: rgb(255, 255, 255);
$font-secondary: rgb(150, 150, 150);
$font-hover: rgb(200, 200, 200);