<div class="top-div">
    <h2>Education</h2>
	<div class="row">
		<div class="education-div" class="column">
			<h3 class="education-school">Stevens Insitute of Technology</h3>
			<p class="education-degree">Bachelor of Science in Computer Science</p>
			<p class="education-date">August 2021 - Present</p>
			<div>
				<h4>Fall 2021</h4>
				<table>
					<thead>
						<th>Course Number</th>
						<th>Course Title</th>
					</thead>
					<tr>
						<td>CS 101</td>
						<td>Research and Entrepreneurship in Computing	</td>
					</tr>
					<tr>
						<td>CS 385</td>
						<td>Algorithms</td>
					</tr>
					<tr>
						<td>MA 222</td>
						<td>Probability and Statistics</td>
					</tr>
					<tr>
						<td>MA 232</td>
						<td>Linear Algebra</td>
					</tr>
					<tr>
						<td>CAL 105</td>
						<td>Writing and Communications Colloquium II</td>
					</tr>	
					<tr>
						<td>BT 244</td>
						<td>Microeconomics</td>
					</tr>		
				</table>
				</div>
				<div>
			<h4>Spring 2022</h4>
			<table>
				<thead>
					<th>Course Number</th>
					<th>Course Title</th>
				</thead>
				<tr>
					<td>MA 236</td>
					<td>Mathematical Reasoning</td>
				</tr>
				<tr>
					<td>CS 392</td>
					<td>Systems Programming</td>
				</tr>
				<tr>
					<td>CS 496</td>
					<td>Principles of Programming Languages</td>
				</tr>
				<tr>
					<td>CS 541</td>
					<td>Artificial Intelligence</td>
				</tr>
				<tr>
					<td>CS 546</td>
					<td>Web Programming I</td>
				</tr>	
				<tr>
					<td>CS 583</td>
					<td>Deep Learning</td>
				</tr>		
			</table>
			</div>
		<div>
			<h4>Fall 2022</h4>
			<table>
				<thead>
					<th>Course Number</th>
					<th>Course Title</th>
				</thead>
				<tr>
					<td>HSS 371</td>
					<td>Computers and Society</td>
				</tr>
				<tr>
					<td>MA 331</td>
					<td>Intermediate Statistics</td>
				</tr>
				<tr>
					<td>CS 334</td>
					<td>Theory of Computation</td>
				</tr>
				<tr>
					<td>CS 396</td>
					<td>Security, Privacy and Society</td>
				</tr>
				<tr>
					<td>CS 423</td>
					<td>Senior Design I</td>
				</tr>	
				<tr>
					<td>CS 554</td>
					<td>Web Programming II</td>
				</tr>		
			</table>
		</div>
	
	</div>
		<div class="education-div" class="column">
			<h3 class="education-school">Ocean County College</h3>
			<p class="education-degree">Associate of Science in Computer Science</p>
			<p class="education-date">September 2019 - May 2021</p>
			<div>
				<h4>Fall 2019</h4>
				<table>
					<thead>
						<th>Course Number</th>
						<th>Course Title</th>
					</thead>
					<tr>
						<td>STSC 150</td>
						<td>Student Success Seminar</td>
					</tr>
					<tr>
						<td>ENGL 152</td>
						<td>English II</td>
					</tr>
					<tr>
						<td>MATH 192</td>
						<td>Precalculus II</td>
					</tr>
					<tr>
						<td>CSIT 115</td>
						<td>Intro Computer Game Development</td>
					</tr>
					<tr>
						<td>CSIT 166</td>
						<td>Programming II</td>
					</tr>		
				</table>
			</div>
			<div>
				<h4>Spring 2020</h4>
				<table>
					<thead>
						<th>Course Number</th>
						<th>Course Title</th>
					</thead>
					<tr>
						<td>SPAN 152</td>
						<td>Elementary Spanish II</td>
					</tr>
					<tr>
						<td>PSYC 172</td>
						<td>General Psychology</td>
					</tr>
					<tr>
						<td>MATH 265</td>
						<td>Calculus I</td>
					</tr>
					<tr>
						<td>CSIT 213</td>
						<td>Database Management</td>
					</tr>
					<tr>
						<td>CSIT 265</td>
						<td>Data Structures and Analysis</td>
					</tr>
					<tr>
						<td>BUSN 131</td>
						<td>Intro Business Administration</td>
					</tr>		
				</table>
			</div>
			<div>
				<h4>Fall 2020</h4>
				<table>
					<thead>
						<th>Course Number</th>
						<th>Course Title</th>
					</thead>
					<tr>
						<td>MATH 266</td>
						<td>Calculus II</td>
					</tr>
					<tr>
						<td>PHYS 281</td>
						<td>General Physics I</td>
					</tr>
					<tr>
						<td>CSIT 176</td>
						<td>Computer Organization</td>
					</tr>
					<tr>
						<td>CSIT 212</td>
						<td>Systems Analysis</td>
					</tr>		
				</table>
			</div>
			<div>
				<h4>Spring 2021</h4>
				<table>
					<thead>
						<th>Course Number</th>
						<th>Course Title</th>
					</thead>
					<tr>
						<td>MATH 267</td>
						<td>Calculus III</td>
					</tr>
					<tr>
						<td>MATH 270</td>
						<td>Discrete Mathematics</td>
					</tr>
					<tr>
						<td>PHYS 282</td>
						<td>General Physics II</td>
					</tr>
					<tr>
						<td>CSIT 168</td>
						<td>Intro to Python Programming</td>
					</tr>		
				</table>
			</div>		
		</div>	
	</div> 
	{{!-- <h3>Relevant Coursework</h3>
	<div>
		<h4>Fall 2021</h4>
		<table>
			<thead>
				<th>Course Number</th>
				<th>Course Title</th>
			</thead>
			<tr>
				<td>CS 101</td>
				<td>Research and Entrepreneurship in Computing	</td>
			</tr>
			<tr>
				<td>CS 385</td>
				<td>Algorithms</td>
			</tr>
			<tr>
				<td>MA 222</td>
				<td>Probability and Statistics</td>
			</tr>
			<tr>
				<td>MA 232</td>
				<td>Linear Algebra</td>
			</tr>
			<tr>
				<td>CAL 105</td>
				<td>Writing and Communications Colloquium II</td>
			</tr>	
			<tr>
				<td>BT 244</td>
				<td>Microeconomics</td>
			</tr>		
		</table>
	</div>
	<div>
		<h4>Spring 2022</h4>
		<table>
			<thead>
				<th>Course Number</th>
				<th>Course Title</th>
			</thead>
			<tr>
				<td>MA 236</td>
				<td>Mathematical Reasoning</td>
			</tr>
			<tr>
				<td>CS 392</td>
				<td>Systems Programming</td>
			</tr>
			<tr>
				<td>CS 496</td>
				<td>Principles of Programming Languages</td>
			</tr>
			<tr>
				<td>CS 541</td>
				<td>Artificial Intelligence</td>
			</tr>
			<tr>
				<td>CS 546/td>
				<td>Web Programming I</td>
			</tr>	
			<tr>
				<td>CS 583</td>
				<td>Deep Learning</td>
			</tr>		
		</table>
	</div>
		<div>
		<h4>Fall 2022</h4>
		<table>
			<thead>
				<th>Course Number</th>
				<th>Course Title</th>
			</thead>
			<tr>
				<td>HSS 371</td>
				<td>Computers and Society</td>
			</tr>
			<tr>
				<td>MA 331</td>
				<td>Intermediate Statistics</td>
			</tr>
			<tr>
				<td>CS 334</td>
				<td>Theory of Computation</td>
			</tr>
			<tr>
				<td>CS 396</td>
				<td>Security, Privacy and Society</td>
			</tr>
			<tr>
				<td>CS 423</td>
				<td>Senior Design I</td>
			</tr>	
			<tr>
				<td>CS 554</td>
				<td>Web Programming II</td>
			</tr>		
		</table>
	</div> --}}
</div>