<div class="top-div">
    <h2>Experience</h2>
    <div class="experience-div">
        <h3>Infosys</h3>
        <p class="experience-title">Software Engineer Intern</p>
        <p class="expereince-date">May 2022 - Present</p>
        <p class="experience-description">Working to develop an internal web application for assigning new hires to relevant projects.</p>
		<p class="experience-description">Utilizing Java Spring Boot, ReactJS, and a MySQL Database.</p>
    </div>
</div>