<div>
	<h1 id="myname">Jared Anthony Kronyak</h1>
	<h3 id="student-title">Computer Science Student at Stevens Institute of Technology</h3>
	<img id="headshot" src="/public/images/square_color.jpg" alt="Me" >
	<p>Hard working and well-learned student of computer science.</p>
</div>