.card-div { 
	/* max-width: 300px; */
	margin: auto;
	padding: 8px;
	border: solid 1px;
	border-radius: 5px;
	min-height: 800px;
}

.projects-div {
	margin: 32px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 16px;
	align-content: flex-start
}